@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme{
  --color-boldGreen:#0ACC58;
  --color-liteGreen:#E9FAEF;
  --color-green:#21AF52;
  --color-liteRed:#FCE9EC;
  --color-yellow:#C77414;
  --color-liteYellow:#FEF3E6;
  --color-primary:#DB4444;
  --color-blue:#315CEA;
  --color-borderGray:#D1D5DB;
  --color-bgGray:#F5F5F5;
  --color-textGray:#7D8184;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}
